<p><%= session[:name] %></p>

<div id='messages'></div>

<%= form_for :message, url: messages_path, remote: true, id: 'messages-form' do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit 'Send' %>
<% end %>
